cl_bobamt_lat "0"

cl_bobamt_vert "0"

cl_bobcycle "2"

cl_bob_lower_amt "0"

cl_viewmodel_shift_left_amt "0"

cl_viewmodel_shift_right_amt "0"

cl_interp "0"

cl_interp_ratio "2"

rate "80000"

cl_cmdrate "128"

cl_updaterate "128"

cl_disablehtmlmotd 1 

fps_max 999

net_graph "1"
net_graphheight "9999"
bind "TAB" "+scorenet"
alias "+scorenet" "+showscores; net_graphheight 0"
alias "-scorenet" "-showscores; net_graphheight 9999"

bind "KP_MINUS" "incrementvar cl_radar_scale 0.25 1.0 -0.05"
bind "KP_PLUS" "incrementvar cl_radar_scale 0.25 1.0 0.05"
cl_radar_always_centered 0

echo "autoexec.cfg loaded."

bind "F4" "buy vest; buy vesthelm"

bind "F5" "buy ak47; buy m4a1;"

bind "F6" "buy awp;"

bind "F7" "buy tec9; buy fiveseven;"

bind "F8" "buy defuser;"


alias "+jumpthrow" "+jump;-attack;-attack2"  
alias "-jumpthrow" "-jump"
bind "k" "+jumpthrow"




